@import '~antd/es/style/themes/default.less';

.cardGrids {
	width: 49%;
	overflow: scroll;
	scrollbar-width: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #f5f5f5;
	border-radius: 7px;
	margin: 0.5%;
}
