@import '~antd/es/style/themes/default.less';

.selfTrigger {
	margin-left: 12px;
}

.antBtnLink {
	color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: @screen-xs) {
	.selfTrigger {
		display: block;
		margin-left: 0;
	}
}
@media screen and (max-width: @screen-md) {
	.selfTrigger {
		display: block;
		margin-left: 0;
	}
}
